*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}

.intestazione{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    height: 100px;
    
}
#logo-booleaner{
    width: 21%;
    text-align: left;
    margin-left: 10px;
    margin-top: 39px;
}
h1{
    margin-top: 10px;
    font-size: 40px;
}
.address{
    color: gray;
}
#thebooleaner{
    color:#56a6cf;
}
#scrittoda{
    font-size: 21px;
}
#data{
    font-size: 13px;
}
.immaginitim{
    margin-top: 24px;
}
.descrizionefoto{
    font-size: 13px;
}
.primoparagrafo{
    margin-top: 25px;
}
.testosottolineato{
    background-color: yellow;
}
.parteprincipale{
    font-size: 18px;
}
